@{
    ViewData["Title"] = "Home Page";
}
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>
<div class="container-fluid">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/slider/slide1.jpg" style="background-color: #61c6c0;" alt="">
            </div>
            <div class="carousel-item">
                <img src="~/slider/slide2.jpg" style="background-color: #61c6c0;" alt="">
            </div>
            <div class="carousel-item">
                <img src="~/slider/slide3.jpg" style="background-color: #ffecc2;" alt="">
            </div>
            <div class="carousel-item">
                <img src="~/slider/slide4.jpg" style="background-color: #ffecc2;" alt="">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>