@model TravelWebApp.Models.Cruise

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4 heading-font">Admin Operations</h1>
        <p>Add New Cruise</p>
    </div>
    <p>
        <a asp-action="Index" class="btn btn-dark">View All Cruise</a>
    </p>
    <hr />
    <div class="row">
        <div class="card col-md-4 border-0">
            <img class="card-img-top img-fluid" src="~/travel.png" alt="" style="width:100%">
        </div>
        <div class="col-md-8">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CruiseLine" class="control-label"></label>
                    <input asp-for="CruiseLine" class="form-control" />
                    <span asp-validation-for="CruiseLine" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DestinationName" class="control-label"></label>
                    <input asp-for="DestinationName" class="form-control" />
                    <span asp-validation-for="DestinationName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save Cruise Details" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
